[Desktop Entry]
Name=The Honkers Railway Launcher
Icon=moe.launcher.the-honkers-railway-launcher
Exec=the-honkers-railway-launcher
Type=Application
Categories=Game
Terminal=false
